a:visited {
  color: white;
}

body {
  background-color: #EEEEEE;
}

.header {
  top:0;
  left:0;
  width:100%;
  position: fixed;
  z-index:1;
}

.top {
  box-sizing: border-box;
  height:30px;
  background-color: #663333;
  color:white;
  font-size:10px;
  line-height:30px;
  padding-left:20px
}

.top__content {
    box-sizing: border-box;
    background-color:#EEEEEE;
    height:60px;
    line-height:60px;
    display:flex;
    justify-content: space-between;
    margin:auto 0;
    padding: 0 20px;
    &__left a {
        color:black;
        font-family:fantasy;
        font-size:20px;
        margin-left:10px;
    }
    &__right {
      display: flex;
      &__icon a {
        color:black;
        padding-left: 15px;
      }
    }
  }

.header__back {
  margin-top:90px;
  background-image:url(/black_back.jpeg);
  background-size: contain;
}

#photo {
  width: 540px;
  height: 360px;
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
  position: relative;
}

#photo img {
  top: 0;
  left: 0;
  position: absolute;
}

.main {
  display:flex;
  &__left {
    width:80%;
    box-sizing: border-box;
    &__tag {
      display:flex;
    }
    &__title {
      position: relative;
      color:white;
      font-weight:bold;
      text-align: center;
      line-height:60px;
      height:60px;
      border-right: solid #FFF;
      width:35%;
      cursor: pointer;
      background-color:#AAAAAA;
      transition:all 0.3s;
      margin-top:3px;
    }
    &__title:hover {
      background-color:#636381;
    }
  }
  &__right {
    height:100%;
    width:20%;
    border:2px solid #FFCC00;
    &__about {
      font-size:20px;
      text-align: center;
      color:yellow;
      text-shadow: 0 2px 0 black;
      font-weight:bold;
      margin:3px auto 0 auto;
    }
  }
}

.place__show {
  cursor: pointer;
}

.music__show {
  cursor: pointer;
}

.main__left__title:first-child {
  border-left: solid #FFF;
}

.main__left__title.active {
  background-color: #000022;
}

.icon {
  position: absolute;
  top:40px;
  right:3px;
  color:white;
}

.main__left__contents {
  overflow: scroll;
  width:100%;
  padding:20px 0 0 20px;
  flex-wrap: wrap;
  display:none;
}

.main__left__contents.show {
  display:flex;
}

.main__left__contents:last-child {
  padding: 0;
}

.main__left__contents.show:last-child {
  display:block;
}

.main__left__content {
  position: relative;
  box-sizing: border-box;
  height:280px;
  width:250px;
  background-color:white;
  margin:0 20px 20px 0;
}

.main__right__top {
  background-color:#FFCC00;
}

.main__right__title {
  width:50%;
  height:28px;
  color:white;
  font-weight:bold;
  text-align: center;
  line-height:28px;
  cursor:pointer;
  background-color:#AAAAAA;
  transition:all 0.3s;
}

.main__right__title:hover {
  background-color: rgb(238, 213, 116);
}

.main__right__title.rankactive {
  width:50%;
  height:28px;
  background-color:#FFCC00;
}

.main__right__tag {
  display:flex;
  text-align:center;
}

.main__right__contents {
  margin: 0 auto;
  display:none;
}

.main__right__contents.rankshow {
  display: block;
}

.main__right__content {
  position: relative;
  box-sizing: border-box;
  height:280px;
  width:250px;
  background-color:white;
  margin:10px auto;
}


.button_to{
  top:0;
  position:absolute;
} 

#plike-button {
  background-color: white;
  color: #35b7e4;
  &__none {
    color:gray;
  }
}

#mlike-button {
  background-color: white;
  color: #FF5F17;
  &__none {
    color:gray;
  }
}

.place__show:hover {
  outline:2px solid #35b7e4;
}

.music__show:hover {
  outline:2px solid #FF5F17;
}

.mshow {
  height:132px;
}

.content__title {
  margin-top: 30px;
}

.content {
  margin-left:5px;
  &__img{
    margin-top:3px;
    height:140px;
    width:250px;
  }
  &__store {
    font-size:18px;
    font-weight:bold;
  }
  &__address {
    font-size:12px;
    color:#888888
  }
  &__open {
    font-size:12px;
  }
  &__station {
    font-size:12px;
  }
  &__movie {
    margin-top:5px;
    height:113px;
    width:200px;
  }
  &__title{
    font-size:18px;
    font-weight:bold;
  }
  &__artist{
    font-size:12px;
  }
  &__playtime {
    font-size: 12px;
    color:#888888
  }
}

// マイページ用css
.mypage__tag {
  display:flex;
  &__title {
    position: relative;
    color:white;
    font-weight:bold;
    text-align: center;
    line-height:60px;
    height:60px;
    border-right: solid #FFF;
    width:25%;
    cursor: pointer;
    background-color:#AAAAAA;
    transition:all 0.3s;
    margin-top:5px;
  }
  &__title:hover {
    background-color:#636381;
  }
}

.mypage__tag__title:first-child {
  border-left: solid #FFF;
}

.mypage__tag__title.myactive {
  background-color: #000022;
}

.mypage__contents {
  overflow: scroll;
  width:100%;
  padding:20px 0 0 20px;
  flex-wrap: wrap;
  display:none;
}

.mypage__contents.myshow {
  display:flex;
}

.mypage__content {
  position: relative;
  box-sizing: border-box;
  height:280px;
  width:250px;
  background-color:white;
  margin:0 20px 20px 0;
}

// ランキングコーナーCSS
