.user_wrapper {
  width:100%;
  height:100%;
  margin:120px auto 0 auto;
  background-color: white;
  position: relative;
}

.user-signin {
  height: calc(100% - 130px);
  margin: 0 auto;
  box-sizing: border-box;
  padding:110px 40px 0 40px;
}

.user__signup {
  height: calc(100% - 130px);
  width:50%;
  margin: 0 auto;
  box-sizing: border-box;
  padding:110px 40px 0 40px;
}

.facebook-icon {
  width:180px;
  height:48px;
  background-color: #385185;
  margin:16px 0 16px 0;
  padding-left: 15px;
  color:#fff;
  line-height:48px;
  font-size: 14px;
}